

<!-- <div class="row card-group">
    <div class="col-4" *ngFor="let item of items">
        <app-product  [item]="item" ></app-product>
    </div>
</div> -->
<div class="loading" *ngIf="productsService.loadingProducts">
    <div  class="spinner-border text-primary"  role="status">
        <span class="sr-only">Loading...</span>
      </div>    
</div>

<app-carousel *ngIf="!productsService.loadingProducts" [items]="productsService.items" [number]="4" (itemSelectedEmit)="itemSelectedEmit($event)" ></app-carousel>